
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */

.logo {
    height: 15%;
    width: 10%;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.logo:hover {
    transform: rotate(90deg);
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #AAA0A0;
    text-decoration: none;
}

.main-header {
    padding: 30px 10%;
    background-color: #474853;
    
}

.nav_links {
    list-style: none;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #86beD1;
}

label {
    margin: 0 4px 0 0 ;
    font-size: 30px;
    display: none;
    color: rgba(0, 136, 169, 1);
}

#toggle {
    display: none;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/** Homepage Body **/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    }

.main-content {
    flex: 3;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../imgs/carboy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}

.title {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    color:lightskyblue;
    text-shadow: 4px 4px 5px black;
}

.boxed {
    position: relative;
    box-sizing: content-box;
    color:linen;
    border: 4px solid saddlebrown;
    text-shadow: 4px 4px 5px black;
}

.row {
    display: flex;
    margin-top: 3em;
}

.aboutWebCol {
    position: relative;
    flex: 35%;
    align-self: flex-end;
    padding-right: 1em;
    padding-left: 1em; 
    color: gold;
    text-shadow: 4px 4px 5px black;
}

.aboutMeCol {
    position: relative;
    flex: 65%;
    padding-right: 1em;
    padding-left: 1em;
    color: gold;
    text-shadow: 5px 5px 6px black;
}

 .carboy {
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    size: cover;
    position: absolute;
    max-width: 100%;
    opacity: 80%;
}


/**.beer_mug {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
} **/

/** Homebrewing 101 Body **/
.title101 {
    color: linen;
    text-align: center;
    flex-direction: column;
}

.homeBrewing101 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-image: url(../imgs/chalkboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Schoolbell', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title101 {
    padding-bottom: 15px;
}

.slide {
    display: flex;
    border: 15px solid whitesmoke;
    align-self: center;
}
.Steps {
    color: linen;
    text-align: center;
    font-family: 'Schoolbell', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    text-align: center;
}

.article {
    color: linen;
    font-family: 'Schoolbell', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

.howTo
li {
    color: linen;
    font-family: 'Schoolbell', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-left: 70px;
}

.howTo {
    padding-top: 20px;
    padding-bottom: 40px;
}


/** Homebrewing Calculator **/
.calcContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-image: linear-gradient(#d4af37, #3d0c02);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.calcTitle {
    text-align: center;
    color: lightskyblue;
    text-shadow: 2px 2px 4px black;
    padding-top: 20px;
    padding-bottom: 15px;
}

form {
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;      
}

select {
    padding: 6px;
    height: 50px;
    border-radius: 2px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  button {
     margin-bottom: 10px;
     margin-top: 10px;
 }

.SGtoBCTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    color: lightskyblue;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    padding-top: 30px;
}

.aboutTable{
    font-size: large;
    padding: 15px;
}

table {
    display: flex;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    box-sizing: content-box;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

table th {
    text-align: center;
    background-color: lightskyblue;
    color: linen;
    padding: 4px 4px;
    border: 3px solid gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

table td {
    border: 3px solid gray;
    padding: 4px 4px;
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}

table tr:nth-child(even) td {
    background-color:   #E0E0E0;
}
 

/** Footer **/
.main-footer {
    position: relative;
    background: #474853;
    padding: 2em 0;
    margin-top: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #AAA0A0;
}

/** Media Queries **/

@media only screen and (max-width: 500px) {
    .logo
    .main-header
    .nav_links {
       display: flex;
       align-items: center;
    }
    
    button {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav_links {
        align-items: center;
        flex-wrap: wrap;
        width: 100%; 
    }

    .nav_links {
        display: none;
    }

    label {
        display: flex;
        cursor: pointer;
    }

    #toggle:checked + .nav_links {
        display: flex;
        visibility: visible;
    }

    .title
    .boxed {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

    .logo {
            margin-right: auto;
    }
        
    .main-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 30px 10%;
    }
        
    .nav_links li {
        display: inline-block;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    }
    
/**@media only screen and (min-width: 1140px) {

    .logo {
        margin-right: auto;
    }
    
    .main-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
    }
    
    .nav_links li {
        display: inline-block;
    }

} **/

